@media(max-width:576px){
	.container{
		width:100%;
	}
    .col-sd-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-sd-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-sd-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-sd-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-sd-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-sd-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-sd-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-sd-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-sd-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-sd-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-sd-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-sd-12{
	    width:100%;
	    padding:0 15px;
    } 
	.d-sd-block{
		display:block!important;
	}
	.ico-nav{
		position:relative;
	}
	i.icofont-navigation-menu {
        font-size:36px;
        position:absolute;
        bottom:0px;
        left:321px;
    }
	.nav-bar{
		display:none!important;
	}
	.banner-content {
        padding-top: 112px;
    }
	.banner-content h2{
		font-size: 28px;
        text-align: center;
	}
	.banner-content p{
		font-size: 20px;
        padding-left: 24px;
	}
	a.nav-btns.btn.buttons {
        margin-left:94px;
    }
	.content a.nav-btns2.buttons2 {
        margin-left:82px;
    }
	.client {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
	.client-box img {
        margin-bottom: 10px;
    }
    .price-box{
	    margin-bottom:20px;
    }
    .about {
        margin-bottom:0px;
    }
	.content{
		height:250px;
		margin-top:40px;
	}
	.content h2{
		padding-top:0px;
		font-size: 32px;
        font-weight: 700;
        text-align: center;
	}
	.content p {
        text-align: center;
        font-weight: 500;
    }
	.icons {
        text-align: center;
    }
	.content-diagram {
		margin-bottom:0px;
	}
	.content-diagram h3 {
        font-size: 22px;
        text-align: center;
    }
	.content-diagram p {
		font-weight: 100;
	}
	.d-none{
		display:none!important;
	}
	.numbers{
		margin-top:0px;
	}
	.number-content{
		margin-top:40px;
		margin-bottom:40px;
	}
	.sun-content i {
        font-size: 28px;
		position: absolute;
        left: 20px;
        top: 10px;
    }
	.direct{
		flex-direction:column-reverse!important;
	}
	.word-content img {
        margin-bottom: 16px;
    }
	.service-heading p {
        color: rgb(255 255 255);
        text-align: center;
        font-weight: 500;
		line-height: 1.5;
    }
	.port-heading p {
        font-size: 17px;
        color: rgb(92 90 98);
        text-align: center;
        font-weight: 500;
		line-height: 1.5;
    }
	.portfolio {
        padding-top:0px;
        margin-top:70px;
    }
	.test-heading p {
        color: black;
        text-align: center;
		line-height: 1.5;
    }
	.test-box{
		margin-bottom:20px;
	}
	.price-heading p {
        color: white;
        font-weight: 500;
        line-height: 1.5;
    }
    .question-heading {
        margin-top:128px;
    }
	.question-heading h2 {
        font-size: 32px;
    }
	.team{
		margin-bottom:0px;
	}
	.team-heading p {
        color: rgb(255 255 255);
        text-align: center;
    }
    .team-box {
        margin-bottom: 20px;
    }
    .contact-heading {
        margin-top:8px;
    }
	.contact-heading p {
        color: rgb(0 0 0);
        text-align: center;
    }
	.name {
        width: 90%;
		margin-left: 16px;
    }
	.sub input {
        width: 90%;
	    margin-left: 16px;
	}
    .msg textarea {
        width: 90%;
		margin-left: 16px;
	}	
    .form button{
 	    margin-left:88px;
    }
	/*--.copyright {
        text-align: center;
        font-size: 14px;
    }--*/
	.news {
        padding-bottom: 30px;
    }
	.socialmedia{
	    padding-top:22px;
        padding-bottom:20px;
		padding-left:0px;
	}
}

/*-------smaller device--------*/
@media(min-width:576px){
    .container{
	    width:575px;
    }	
	.col-sm-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-sm-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-sm-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-sm-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-sm-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-sm-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-sm-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-sm-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-sm-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-sm-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-sm-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-sm-12{
	    width:100%;
	    padding:0 15px;
    }
	.logo-header{
		display:none;
	}
	.d-sd-block{
		display:block!important;
	}
	.btn1{
		margin-left:114px;
	}
	.ico-nav{
		position:relative;
	}
	i.icofont-navigation-menu {
        font-size:36px;
        position:absolute;
        bottom:0px;
        right:16px;
    }
	.banner-content h2{
		font-size:22px;
	}
	.banner-content p{
		font-size:20px;
	}
	.content a.nav-btns2.buttons2 {
        margin-left:190px;
    }
    .price-box{
	    margin-bottom:20px;
    }
    .about {
        margin-bottom:0px;
    }
	.content{
		height:250px;
		margin-top:40px;
	}
	.content h2{
		padding-top:0px;
	}
	.content-diagram {
        text-align: center;
    }
	.numbers{
		margin-top:0px;
	}
	.number-content{
		margin-top:40px;
		margin-bottom:40px;
	}
	.d-none{
		display:block!important;
	}
	.test-box{
		margin-bottom:20px;
	}
    .question-heading {
        margin-top:128px;
    }
    .team-box {
        margin-bottom: 20px;
    }
    .contact-heading {
        margin-top: 100px;
    }
    .form button{
 	    margin-left:194px;
    }
	.media {
        text-align: center;
    }
	.socialmedia{
	    padding-top:22px;
        padding-bottom:20px;
		padding-left: 0px;
	}
}

/*-------medium device--------*/
@media (min-width:768px){
	.container{
	    width:765px;
    }
	.col-md-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-md-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-md-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-md-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-md-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-md-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-md-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-md-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-md-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-md-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-md-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-md-12{
	    width:100%;
	    padding:0 15px;
    }
	.d-sd-block{
		display:block!important;
	}
	.ico-nav{
		position:relative;
	}
	i.icofont-navigation-menu {
        font-size:36px;
        position:absolute;
        bottom:0px;
        right:16px;
    }
	.nav-bar{
		display:none!important;
	}
	a.nav-btns.buttons {
        margin-left:194px;
    }
	.banner {
        height: 100vh;
        padding-top: 260px;
    }
	.banner-content h2 {
        font-size:30px;
    }
	.banner-content p {
        font-size: 19px;
    }
	a.nav-btns.btn.buttons {
        margin-left: 274px;
    }
	.content {
        height:230px;
        margin-top: 4px;
    }
	.content h2 {
        padding-top:30px;
		padding-left: 88px;
    }
	.content p {
        text-align: center;
    }
	.content a.nav-btns2.buttons2 {
        margin-left:270px;
    }
	.numbers{
		margin-top:40px;
	}
    .number-content {
        margin-bottom: 50px;
    }
	.d-none{
		display:none!important;
	}
	.sun-content i {
		position:static;
        font-size:40px;
    }
	.direct{
		flex-direction:column-reverse!important;
	}
	.word-content img {
        margin-bottom: 30px;
    }
	.service-heading p {
        font-size: 17px;
        color: white;
        text-align: center;
        line-height: 1.5;
    }
	.portfolio .row {
        justify-content: center;
    }
	.port-heading p {
        font-size: 17px;
        line-height: 1.5;
    }
	.test .row {
        justify-content: center;
    }
	.test-heading p {
        font-size: 17px;
        color: grey;
        line-height: 1.5;
    }
	.test-box {
        margin-bottom: 30px;
    }
	.price{
		margin-bottom:244px;
	}
	.price .row {
        justify-content: center;
    }
	.price-heading p {
        font-size: 17px;
        color: rgb(255 255 255);
        line-height: 1.5;
    }
	.price-box {
        margin-bottom: 30px;
    }
	.question-heading h2 {
        font-size: 34px;
    }
	.team{
	    margin-bottom:30px;  
	}
	.team-heading p {
        font-size: 17px;
        text-align: center;
        color: rgb(255 255 255);
        line-height: 1.5;
    }
	.team-box {
        margin-bottom: 30px;
    }
	.form button {
        margin-left: 276px;
    }
	.contact{
		padding-top:0px;
	}
	.contact-heading p {
        font-size: 17px;
        text-align: center;
        color: grey;
        line-height: 1.5;
    }
	.name {
        width: 90%;
		margin-left:16px;
	}	
	.contact .row {
        justify-content: center;
    }
	.media {
        text-align: left;
    }
	.socialmedia {
        text-align:right;
		margin-top:-34px;
    }
	.socialmedia a {
    margin-bottom: 20px;
    }
}
/*-------desktop device--------*/
@media(min-width:992px){
	.container{
	    width:990px;
    }	
	.col-xl-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-xl-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-xl-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-xl-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-xl-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-xl-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-xl-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-xl-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-xl-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-xl-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-xl-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-xl-12{
	    width:100%;
	    padding:0 15px;
    }
	.d-lg-block{
		display:block!important;
	}
	.logo-header{
		display:block!important;
	}
	ul.nav-bar {
        display: block!important;
    }
	.d-sd-block{
		display:none!important;
	}
	.ico-nav{
		display:none!important;
	}
	.logo-header .nav-bar li a {
        font-size: 14px;
	}
	a.nav-btns.buttons {
        margin-left:0px;
    }
	.banner-content {
        padding-top: 70px;
    }
	.banner-content h2 {
        font-size: 50px;
    }
	.banner-content p {
        font-size: 24px;
    }
	a.nav-btns.btn.buttons {
        margin-left:10px;
    }
	.client-box {
        padding-left:60px;
        padding-right:60px;
        margin-bottom:20px;
    }
	.content h2 {
        padding-top:50px;
		padding-left:0px;
    }
	.content p{
		text-align:left;
	}
	.content a.nav-btns2.buttons2 {
        margin-left:6px;
    }
	.numbers {
        margin-top:0px;
    }
	.d-none{
		display:block!important;
	}
	.direct{
		flex-direction:unset!important;
	}
	.sun-content i {
        position: absolute;
	}
	.sun-content {
        min-height:112px;
    }
	.sun-content p {
        padding-top: 10px;
		font-size:22px;
    }
	.sun-content p {
        font-weight: 600;
    }
	.team-heading p {
        font-weight: 500;
    }
	.name {
        width: 92%;
		margin-left:0px;
    }
	.form button {
        margin-left:144px;
    }
	.copyright a {
        left: 2px;
        top: 46px;
    }
	.add{
		height:0px;
	}
	.socialmedia {
        text-align:right;
        margin-top:-56px;
	}
}
/*-------larger device--------*/
@media(min-width:1200px){
	.container{
		width:1170px;
	}
	.col-lg-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-lg-2{
	    width:16.66%;
	    padding:0 15px;
    }
	.col-lg-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-lg-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-lg-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-lg-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-lg-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-lg-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-lg-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-lg-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-lg-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-lg-12{
	    width:100%;
	    padding:0 15px;
    }
	.logo a {
        font-size: 28px;
        padding-left: 16px;
    }
	.logo-header{
		display:block!important;
	}
	.nav-bar{
		display:block!important;
	}
	.logo-header .nav-bar li a {
        font-size: 14px;
    }
	.nav-bar {
        text-align:right;
    }
	.ico-nav{
		display:none!important;
	}
	.d-sd-block{
		display:none!important;
	}
	a.nav-btns.buttons {
        margin-left: 0px;
    }
	.content h2 {
        padding-top:66px;
    }
	.banner {
        padding-top:70px;
    }
	.banner-content {
        text-align-last: left;
		padding-top:70px;
    }
	.banner-content h2 {
        font-size: 46px;
    }
	.banner-content p {
        font-size: 22px;
        font-weight: 500;
    }
	a.nav-btns.btn.buttons {
        margin-left: 0px;
    }
	.client-box {
        padding-left:0px;
        padding-right:0px; 
        margin-bottom:0px; 
    }
	.content a.nav-btns2.btn2.buttons2 {
        margin-left: 0px;
    }
	.about {
        margin-bottom: 70px;
    }
	.content p {
        text-align: left;
        font-family: "raleway",sans-serif;
    }
	.buttons2 {
        font-size: 12px;
        font-weight: 500;
	}
	.content-diagram h3 {
        font-size: 20px;
    }
	.content-diagram{
		text-align:left;
	}
	.number-content h2 {
        font-size: 30px;
	}
	.sun-content .d-none {
        display:block!important;
    }
	.sun-content {
        padding-top: 22px;
        padding-bottom: 12px;
        padding-right: 10px;
        padding-left: 60px;
		min-height:96px;
    }
	.sun-content i {
		position:absolute;
        left:10px;
        top:26px;
    }
	.sun-content p {
        font-weight: 500;
	}
	.direct{
		flex-direction:unset!important;
	}
	.service-heading p {
        font-size: 16px;
	}
	.port-heading p {
        font-size: 16px;
	}
	.test-heading p {
        font-size: 16px;
	}
    .sect-shape:before {
        height: 110%;
	}
	.price {
        margin-bottom:0px;
    }
	.price-heading p {
		font-size: 16px;
        font-weight: 500;
    }
    .team {
        margin-bottom:0px;
    }
	.team-heading p {
        font-size: 16px;
	}
	.contact {
        padding-top:0px;
        margin-bottom:0px;
        margin-top:0px;
    }
	.contact-heading p {
        font-size: 16px;
	}
	.form button {
        margin-left:197px;
    }
	.media {
        text-align:left;
    }
	.copyright a {
        left: 4px;
        top: 46px;
    }
	.add {
        height: 300px;
    }
	.socialmedia {
        padding-top:10px;
	    margin-top:0px;
    }
	.socialmedia a {
        margin-top:20px;
        margin-bottom:20px;
    }
}
/*--@media(min-width:768px)and(max-width:992px){
	.container{
		width:762px;
	}
	
}--*/
