@media(max-width:576px){
	.container{
		width:100%;
	    overflow-y:hidden;
	}
    .col-sd-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-sd-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-sd-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-sd-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-sd-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-sd-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-sd-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-sd-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-sd-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-sd-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-sd-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-sd-12{
	    width:100%;
	    padding:0 15px;
    } 
	.d-sd-block{
		display:block!important;
	}
	i.icofont-navigation-menu {
        font-size:36px;
        position:absolute;
        top:16px;
        right:12px;
    }
	ul.nav-bar {
        display:none;
    }
	.banner-content h2{
		font-size:22px;
	}
	.banner-content p{
		font-size:20px;
	}
	.content a.nav-btns2.buttons2 {
        margin-left:82px;
    }
    .price-box{
	    margin-bottom:20px;
    }
    .about {
        margin-bottom: 200px;
    }
	.number-content{
		margin-top:40px;
	}
	.test-box{
		margin-bottom:20px;
	}
    .question-heading {
        margin-top:128px;
    }
    .team-box {
        margin-bottom: 20px;
    }
    .contact-heading {
        margin-top: 100px;
    }
    .form button{
 	    margin-left:88px;
    }
	.socialmedia{
	    padding-top:22px;
        padding-bottom:20px;
		padding-left:0px;
	}
}
/*-------smaller device--------*/
@media(min-width:576px){
    .container{
	    width:575px;
    }	
	.col-sm-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-sm-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-sm-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-sm-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-sm-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-sm-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-sm-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-sm-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-sm-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-sm-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-sm-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-sm-12{
	    width:100%;
	    padding:0 15px;
    }
}
/*-------medium device--------*/
@media (min-width:768px){
	.container{
	    width:765px;
    }
	.col-md-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-md-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-md-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-md-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-md-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-md-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-md-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-md-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-md-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-md-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-md-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-md-12{
	    width:100%;
	    padding:0 15px;
    }
	
	i.icofont-navigation-menu {
        font-size:36px;
        position:absolute;
        top:16px;
        right:12px;
    }
	.d-sd-block{
		display:block!important;
	}
	ul.nav-bar{
		display:none;
	}
	a.nav-btns.buttons {
        margin-left:194px;
    }
	.banner-content {
        text-align-last: center;
		padding-top:122px;
    }
	.banner-content h2 {
        font-size:38px;
    }
	a.nav-btns.btn.buttons {
        margin-left: 274px;
    }
	.content {
        height:230px;
        margin-top: 4px;
    }
	.content a.nav-btns2.buttons2 {
        margin-left:230px;
    }
	.numbers{
		padding-top:146px;
	}
	.sun-content i {
        left:50px;
		top:16px;
    }
	.portfolio .row {
        justify-content: center;
    }
	.test .row {
        justify-content: center;
    }
	.test-box {
        margin-bottom: 30px;
    }
	.price{
		margin-bottom:244px;
	}
	.price .row {
        justify-content: center;
    }
	.price-box {
        margin-bottom: 30px;
    }
	.team-box {
        margin-bottom: 30px;
    }
	.form button {
        margin-left: 276px;
    }
	.contact .row {
        justify-content: center;
    }
	.socialmedia {
        padding-left:0;
        padding-top: 22px;
    }
	.socialmedia a {
    margin-bottom: 20px;
    }
}
/*-------desktop device--------*/
@media(min-width:992px){
	.container{
	    width:990px;
    }	
	.col-xl-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-xl-2{
	    width:16.66%;
	    padding:0 15px;
    }
    .col-xl-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-xl-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-xl-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-xl-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-xl-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-xl-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-xl-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-xl-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-xl-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-xl-12{
	    width:100%;
	    padding:0 15px;
    }
	.d-none{
		display:block!important;
	}
	.d-sd-block{
		display:none!important;
	}
	.icofont-navigation-menu{
		display:none;
	}
	.logo-header .nav-bar li a {
        font-size: 14px;
	}
	a.nav-btns.buttons {
        margin-left:0px;
    }
	a.nav-btns.btn.buttons {
        margin-left:376px;
    }
	.content a.nav-btns2.buttons2 {
        margin-left: 350px;
    }
	.sun-content{
		min-height:144px;
	}
	.sun-content i {
        left: 16px;
        top: 36px;
    }
	.form button {
        margin-left: 394px;
    }
	.copyright a {
        left: 32px;
        top: 56px;
	}
}
/*-------larger device--------*/
@media(min-width:1200px){
	.container{
		width:1170px;
	}
	.col-lg-1{
	    width:8.33%;
	    padding:0 15px;
    }
    .col-lg-2{
	    width:16.66%;
	    padding:0 15px;
    }
	.col-lg-3{
	    width:25%;
	    padding:0 15px;
    }
    .col-lg-4{
	    width:33.33%;
	    padding:0 15px;
    }
    .col-lg-5{
	    width:41.66%;
	    padding:0 15px;
    }
    .col-lg-6{
	    width:50%;
	    padding:0 15px;
    }
    .col-lg-7{
	    width:58.33%;
	    padding:0 15px;
    }
    .col-lg-8{
	    width:66.66%;
	    padding:0 15px;
    }
    .col-lg-9{
	    width:75%;
	    padding:0 15px;
    }
    .col-lg-10{
	    width:83.33%;
	    padding:0 15px;
    }
    .col-lg-11{
	    width:91.66%;
	    padding:0 15px;
    }
    .col-lg-12{
	    width:100%;
	    padding:0 15px;
    }
	ul.nav-bar{
		display:block!important;
	}
	.icofont-navigation-menu{
		display:none!important;
	}
	.d-sd-block{
		display:none!important;
	}
	a.nav-btns.buttons {
        margin-left: 0px;
    }
	.banner-content {
        text-align-last: left;
		padding-top:70px;
    }
	.banner-content h2 {
        font-size: 48px;
    }
	a.nav-btns.btn.buttons {
        margin-left: 0px;
    }
	.content a.nav-btns2.btn2.buttons2 {
        margin-left: 0px;
    }
	.sun-content .d-none {
        display:block!important;
    }
	.form button {
        margin-left:197px;
    }
	.sun-content i {
        left: 14px;
        top: 32px;
    }
	.socialmedia{
		padding-left:474px;
        padding-bottom:24px;
    }
}