/*---------container starts---------*/
.container{
	width:1170px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
/*---------container ends---------*/
/*------------flex style-----------*/
.align-items-center{
	align-items:center !important;
}
.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.align-items-stretch{
	align-items:stretch !important;
}
/*-----------buttons start---------*/
.buttons{
	color:white;
	font-size:16px;
	text-decoration:none;
	display:inline-block;
	background-color:rgb(224 58 60);
	text-align:center;
	padding-right:36px;
    padding-left:36px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:5px;
}
.nav-btns:hover{
	background-color:black;
}
.buttons2 {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    text-align: center;
    padding-right: 28px;
    padding-left: 27px;
    padding-top: 9px;
    padding-bottom: 11px;
    border-radius: 24px;
    border: 2px solid rgb(224 58 60);
	
}
.buttons2:hover{
	background-color:rgb(224 58 60);
}	
/*---------header starts---------*/
.header-info{
	padding-top:10px;
	padding-bottom:10px;
}
.paste{
    width:100%;
    background-color:white;
    position:fixed;
    top:0;
    z-index:2;
}
.logo a{
	font-size:30px;
	font-weight:700;
	display:inline-block;
	color:black;
	text-decoration:none;
    margin-top:4px;	
}
.logo a span{
	color:red;
}
.logo-header{
	margin-top:10px;
}
.nav-bar li a.active home{
	color:red;
}
ul.nav-bar {
    text-align: right;
}
.logo-header .nav-bar > li {
	display:inline-block;
}
.logo-header .nav-bar li a{
	font-size:16px;
	font-weight:500;
	text-decoration:none;
	color:black;
	padding-top:10px;
	padding-right:14px;
    padding-left:14px;
	padding-bottom:10px;
	transition:all 0.3s ease;
	font-family:"raleway",san-serif;
}
.nav-bar > li a.nav-list:hover{
	color:red;
}
.nav-btns{
	font-size:14px;
}
.dropdown{
	position:relative;
} 
.nav-bar > li .dropdown > a .nav-list{
	padding-right:25px;
}
.dropdown a > i{
	position:absolute;
	top:5px;
	right:-10px;
}
.dropdown-nav{
	position:absolute;
	left:0;
	top:90%;
	min-width:190px;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateY(20px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown:hover .dropdown-nav{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-nav li{
	display:block;
}
.dropdown ul a:hover{
	color:rgb(224 58 60);
}
.dropdown-nav li a{
	text-align:left;
	color:black;
	font-size:14px;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
}
.dropdown-sub{
	position:relative;
}
.dropdown-nav-sub{
	position:absolute;
	top:0;
	left:100%;
	min-width:190px;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:right;
	transform:translateX(-15px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform:translateX(0);
	opacity:1;
	visibility:visible;
}
.footer{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgb(224 58 60);
    height:46px;
    width:46px;
    border-radius:5px;
    z-index:2;
}
.footer a{
	text-decoration:none;
}
.footer i{
    font-size:30px;
    color:white;
    position:absolute;
    top:5px;
	right:8px;
}
/*--------header ends-------------------*/
/*--------banner start------------------*/
.banner{
    background-image:linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),url(../image/hero-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:640px;
	padding-top:110px;
	margin-top:20px;
}
.banner-content{
	padding-top:70px;
}
.banner-content h2{
	font-size:48px;
	font-weight:700;
	color:white;
	font-family:"raleway",san-serif;
}
.banner-content p {
    font-size:25px;
    font-weight:400;
    margin-top:15px;
	margin-bottom:30px;
	font-family:"raleway",san-serif;
}
/*--------banner ends-------------------*/
/*--------client start------------------*/
.client{
	padding-top:60px;
	padding-bottom:60px;
	margin-bottom:33px;
}
.client-box{
    padding-left:28px;
	padding-right:23px;
	align-items:center;
}
.client-box img{
	width:100%;
	filter:grayscale(100%);
    opacity:0.5;
    transition:all 0.5s ease;
}
.client-box img:hover{
	filter:grayscale(0%);
    opacity:1;
}
.about {
    margin-bottom:20px;
	padding-top:30px;
	padding-bottom:30px;
}
.sect-shape{
	position:relative;
	z-index:1;
}
.sect-shape:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	height:112%;
	width:100%;
	background-color:black;
    transform:skewY(-3deg);
	z-index:-1;
}
.content{
	color:white;
	height:400px;
	margin-top:79px;
}
.content h2{
	font-size:30px;
	padding-bottom:25px;
    padding-top:60px;
}
.content p{
	padding-bottom:5px;
	font-size:17px;
    font-weight:400;
    margin-top:15px;
	margin-bottom:30px;
	font-family:"raleway",san-serif;
}
.content-diagram{
	height:175px;
	margin-bottom:22px;
	margin-top:53px;
	color:white;
}
.content-diagram h3{
	font-size:25px;
}
.content-diagram p{
	font-size:15px;
    font-weight:400;
    margin-top:15px;
	margin-bottom:30px;
	color:grey;
	font-family:"raleway",san-serif;
}
.icons{
	font-size:40px;
	color:rgb(224 58 60);
	margin-bottom:10px;
	margin-top:-12px;
}
/*---------------about ends-------------------*/
/*---------------numbers start----------------*/
.numbers{
	padding-top:60px;
	padding-bottom:30px;
	margin-top:80px;
}
.number-content{
	width:100%;
	text-align:center;
	border:1px solid white;
	border-radius:5px;
	box-shadow:0px 5px 35px rgb(0 0 0 / 6%);
	height:130px;
	margin-bottom:100px;
}
.number-content {
    position:relative;
}
.number-content h2{
	font-size:38px;
	font-weight:800;
	padding-top:33px;
	font-family:"";
}
.number-content p{
	color:grey;
}
.ico-icons {
    position:absolute;
    left:50%;
    top:-31px;
    text-align:center;
    transform:translateX(-50%);
	background:white;
}
.ico-icons {
    font-size:31px;
    padding-left:0px;
	padding-top:10px;
    color:rgb(224 58 60);
    height:60px;
    width:60px;
    border-radius:80%;
    box-shadow:0px 4px 59px rgb(0 0 0 / 6%);
}
/*---------------numbers ends-------------------*/
/*---------------img-content start----------------*/
.img-content{
	margin-bottom:124px;
}
.sun-content{
    margin-bottom:30px;
	font-family:"raleway",san-serif;
	border:1px solid rgb(185 185 185);
	padding-top:35px;
	padding-bottom:35px;
	padding-right:10px;
	padding-left:60px;
	position:relative;
}
.sun-content i{
	position:absolute;
	left:10px;
	top:auto;
	font-size:40px;
}
.sun-content:hover{
	background-color:white;
	color:rgb(224 58 60);
	border-color:rgb(233 236 239);
}
.sun-content-1-active{
	background-color:rgb(224 58 60);
	color:white;
	border-color:rgb(224 58 60);
}
.sun-content p{
    font-weight:600;
	font-size:20px;
}
.word-content img{
	width:100%;
}
.word-content h2{
	font-size:26px;
	font-weight:600;
	font-family:"raleway",san-serif;
	padding-bottom:20px;
}
.word-content i{
	font-size:20px;
	color:rgb(224 58 60);
}
.stylish-word{
	font-style:italic;
}
.word-content p{
	font-size:16px;
	font-family:"raleway",san-serif;
	color:grey;
	padding-bottom:15px;
	line-height:22px;
}
/*---------------img-content ends-------------------*/
/*---------------services start----------------*/
.services{
	margin-bottom:20px;
}
.service-heading h2{
	color:white;
	text-align:center;
	font-size:32px;
	padding-top:50px;
	padding-bottom:20px;
}
.service-heading p{
	font-size:16px;
	padding-bottom:36px;
	text-align-last:center;
	color:grey;
}
.service-content{
	background-color:rgb(37 37 37);
	border-radius:6px;
	margin-bottom:30px;
	position:relative;
	height:150px;
}
.service-content i{
	position:absolute;
    left:0;
	top:21%;
	font-size:40px;
	color:rgb(224 58 60);
	margin-bottom:10px;
	margin-left:30px;
}
.service-content p{
    font-size:15px;
    font-weight:400;
    color:white;
    margin-top:25px;
    padding-left:94px;
	position:absolute;
	top:30%;
}
.service-content a{
	text-decoration:none;
	color:white;
	font-size:18px;
	font-Weight:600;
	padding-left:96px;
	position:absolute;
	top:22%;
}
/*---------------services ends-------------------*/
/*---------------portfolio start----------------*/
.portfolio{
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:20px;
	margin-top:150px;
}
.port-heading h2{
	font-size:32px;
	text-align:center;
	padding-bottom:20px;
}
.port-heading p{
	font-size:16px;
	padding-bottom:20px;
	text-align-last:center;
	color:grey;
}
.port-nav a{
	text-decoration:none;
	color:black;
	display:inline-block;
	font-size:14px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	text-transform:uppercase;
	border-radius:5px;
	transition:all 0.5s ease;
}
.port-nav{
	text-align:center;
	padding-bottom:20px;
}
.line{
	width:50px;
	height:3px;
	background-color:rgb(224 58 60);
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}
.port-nav a.port-nav-2-active {
	color:white;
	background-color:rgb(224 58 60);
}
.port-nav a:hover{
	color:white;
	background-color:rgb(224 58 60);
}

.port-card{
	position:relative;
	overflow:hidden;
	margin-bottom:30px;
}
.port-card img{
	width:100%;
	height:auto;
	display:block;
	transition:all 0.5s ease;
}
.port-card .port-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgb(0 0 0 / 50%);
	display:flex;
	align-items:flex-end;
	opacity:0;
	transition:all 0.3s ease;
}
.port-ov-cont{
	padding-left:20px;
	padding-bottom:30px;
}
.port-ov-cont a{
	text-decoration:none;
	color:lightgrey;
	font-size:18px;
	margin-bottom:15px;
	margin-right:10px;
}
.port-ov-cont h4{
	color:white;
	font-weight:600;
	font-size:20px;
	margin-bottom:10px;
}
.port-ov-cont h3{
	font-style:italic;
	color:lightgrey;
	font-size:13px;
	text-transform:uppercase;
	padding-bottom:15px;
}
.port-ov-cont a:hover{
	color:white;
}
.port-card:hover img{
	transform:scale(1.2);
}
.port-card:hover .port-overlay{
	opacity:1;
}

/*---------------portfolio ends-------------------*/
/*---------------test start-----------------------*/
.test{
	padding-top:60px;
	padding-bottom:80px;
}
.test-heading h2{
	font-size:32px;
	text-align:center;
	padding-bottom:20px;
}
.test-heading p{
	font-size:16px;
	padding-bottom:44px;
	text-align-last:center;
	color:grey;
}
.test-box{
	position:relative;
    border:1px solid white;
    box-shadow:0px 2px 35px rgb(0 0 0 / 6%);
    height:300px;
    padding-left:20px;
	padding-right:20px;
    padding-top:20px;
    border-radius:16px;
}
.test-box img{
	width:85px;
	padding-bottom:20px;
}
.test-box h2{
	position:absolute;
    left:125px;
    top:28px;
}
.test-box h3{
	position:absolute;
    left:125px;
    top:65px;
    color:grey;
    font-size:15px;
    font-weight:500;
}
.test-box i{
	color:pink;
}
.test-box i:first-child{
    display:inline-block;
    transform:translateY(-10px);
}	
.test-box i:last-child{
	display:inline-block;
    transform:translateY(10px);
}
.test-box p{
	font-size:18px;
    font-weight:300;
    font-style:italic;
    color:grey;
}
/*---------------test ends-------------------*/
/*---------------pricing start----------------*/
.price{
	padding-top:20px;
	padding-bottom:30px;
	margin-bottom:154px;
	margin-top:20px;
}
.price-heading h2{
	font-size:32px;
	text-align:center;
	padding-top:26px;
	color:white;
}
.price-heading p{
	font-size:16px;
	padding-bottom:20px;
	text-align-last:center;
	color:grey;
}
.price-box.unique{
	background-color:rgb(224 58 60);
}
.price-box{
	border:1px solid rgb(43 43 43);
	color:white;
	height:500px;
	text-align:center;
	background-color:rgb(43 43 43);
	border-radius:6px;
} 
.price-box sup{
	font-size:15px;
}
.price-box h2{
	padding-top:20px;
	padding-bottom:16px;
}
.price-box h3{
	padding-bottom:30px;
	font-size: 40px;
    font-family: "";
}
.price-box span{
	font-size:15px;
}
.price-box p{
	padding-bottom:30px;
}
.strike{
	text-decoration:line-through;
	color:grey;
}
.strike1{
	text-decoration:line-through;
	color:white;
}
.price-box a{
	text-decoration:none;
	border:2px solid rgba(255, 255, 255, 0.3);
	border-radius:6px;
	color:white;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:14px;
	padding-top:14px;
} 
.buy{
	padding-top:20px;
}
.buy a:hover{
	border-color:white;
}

/*---------------pricing ends-------------------*/
/*---------------question start----------------*/
.question{
	margin-bottom:80px;
}
.question-heading{
	text-align:center;
    margin-top:20px;
	margin-bottom:20px;
}
.question-content{
	position:relative;
}
.question-content i{
	position:absolute;
	right:0;
}
.question-content p{
	font-size:18px;
    color:grey;
    font-weight:500;
	padding-bottom:20px;
	padding-top:20px;
	color:rgb(52 58 64);
	font-family: "raleway",sans-serif;
}
.question-content p:hover{
	color:rgb(224 58 60);
}
/*---------------question ends-------------------*/
/*---------------team start---------------------*/
.team{
	padding-bottom:30px;
	margin-bottom:154px;
	margin-top:20px;
}
.team-heading h2{
	font-size:32px;
	text-align:center;
	padding-top:26px;
	color:white;
	padding-bottom:10px;
}
.team-heading p{
	font-size:16px;
	padding-bottom:20px;
	text-align-last:center;
	color:grey;
}
.team-box{
	position:relative;
}
.team-img img{
	width:100%;
	display:block;
	border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.team-links{
	position:absolute;
    left:12%;
    bottom:110px;
    transform:translateY(-3%);
}
.team-links a{
	display:inline-block;
	text-decoration:none;
	border-radius:50%;
	color:white;
	background-color:rgb(224 58 60);
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	margin-right:3px;
	margin-left:3px;
	transform:translateY(-20px);
	opacity:0;
	transition:all 0.5s ease;
}
.team-box:hover .team-img .team-links a{
	opacity:1;
	transform:translateY(0);
}
.team-links a:hover{
	background-color:black;
}
.team-content{
	background-color:white;
	height:100px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}
.team-content h2{
	font-size:18px;
	padding-top:24px;
    padding-left:20px;
}
.team-content h3{
	font-size:16px;
	color:grey;
	font-weight:300;
	padding-top:8px;
	padding-left:20px;
}
/*---------------team ends----------------------*/
/*---------------contact start---------------------*/
.contact{
	padding-top:20px;
	padding-bottom:30px;
	margin-bottom:20px;
	margin-top:20px;
}
.contact-heading h2{
	font-size:32px;
	text-align:center;
	padding-top:26px;
	padding-bottom:10px;
}
.contact-heading p{
	font-size:16px;
	padding-bottom:20px;
	text-align-last:center;
	color:grey;
}
.info{
	background-color:white;
	box-shadow:0px 0px 30px rgb(214 215 216 / 60%);
	width:100%;
    text-align:center;
	margin-bottom:20px;
}
.info i{
	font-size:26px;
    border:2px dotted rgb(248, 212, 213);
    border-radius:74%;
    color: rgb(231 102 104);
    padding-left:6px;
    padding-right:6px;
    padding-top:6px;
    padding-bottom:6px;
    display:inline-block;
    margin-top:30px;
}
.info h2{
	padding-top:20px;
	color:grey;
	padding-bottom:10px;
	font-size:20px;
}
.info p{
	padding-bottom:10px;
	font-family:"poppins",sans-serif;
}
.form{
	background-color:white;
	box-shadow:0px 0px 30px rgb(214 215 216 / 60%);
    padding-top:20px;	
}
.name{
	width:100%;
    padding-top:20px;
    padding-left:10px;
    border:1px solid rgb(206 212 218);
    padding-right:10px;
    font-size:14px;
	border-radius:6px;
	margin-bottom:20px;
}
.sub input{
	width:100%;
    padding-top:10px;
    padding-left:10px;
    border:1px solid rgb(206 212 218);
    font-size:14px;
    padding-bottom:20px;
    border-radius:6px;
    margin-bottom:20px;
}
.msg textarea{
	width:100%;
	height:150px;
    padding-top:20px;
    padding-left:11px;
    border:1px solid rgb(206 212 218);
    font-size:14px;
    padding-bottom:20px;
    border-radius:6px;
	margin-bottom:10px;
}
.form button {
    background-color:rgb(231 102 104);
    color:white;
    border-radius:4px;
    padding-top:16px;
    padding-bottom:15px;
    padding-left:34px;
    padding-right:34px;
    margin-left:197px;
    font-size:16px;
    border:0;
	margin-bottom:20px;
	cursor:pointer;
}
/*---------------contact ends----------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(27 27 27); 
}
.add{
	color:white;
	height:300px;
}
.add h2{
	font-size:26px;
	font-Weight:700;
	padding-top:60px;
    padding-bottom:16px;
}
.add p{
	padding-bottom:20px;
	line-height:1.5;
	font-family: "poppins",sans-serif;
}
.add span{
	color:rgb(231 102 104);
}
.add pre{
	padding-bottom:10px;
}
.link{
	color:white;
}
.link h2{
	padding-top:60px;
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
}
.lines{
	width:23px;
	height:3px;
	background-color:rgb(224 58 60);
	margin-bottom:20px;
}
.link i{
	color:white;
}
.link a{
	text-decoration:none;
	color:grey;
	display:block;
	padding-bottom:10px;
}
.link a:hover{
	color:white;
}
.news h2{
	padding-top:60px;
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
	color:white;
}
.news p{
	color:white;
	font-size:15px;
	padding-bottom:26px;
}
.news form {
    position:relative;
    background-color:white;
    overflow:hidden;
    border-radius:6px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:106px;
    padding-left:3px;
	margin-left:4px;
    margin-right:21px;
}
.news input {
    width:100%;
    height:100%;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
    border:1px solid rgb(255 255 255);
}
.news button {
    height:100%;
    position:absolute;
    right:0;
    top:0;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    background-color:rgb(231 102 104);
    color:white;
    font-size:18px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:12px;
    padding-left:12px;
    cursor:pointer;
    border:0;
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:black;
	height:90px;
}
.copyright{
	color:white;
	padding-top:26px;
	position: relative;
}
.copyright a{
	text-decoration:none;
    color:rgb(224 58 60);
    padding-left:96px;
    position:absolute;
    left:6px;
    top:46px;
}
.copyright a:hover{
	color:rgb(231 102 104);
}
.socialmedia{
	padding-left:461px;
    padding-top:22px;
}
.socialmedia a{
	display:inline-block;
	text-decoration:none;
	border-radius:6px;
	color:white;
	background-color:rgb(43 43 43);
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	margin-left:3px;
	margin-right:3px;
}
.socialmedia a:hover{
	background-color:rgb(231 102 104);
}	
	
	
